<footer class="fixed-bottom py-3" id="footer-all">
    <div class="nav justify-content-evenly">
        <a href="../main.html">
            <div class="category-button">
                <p class="material-icons footer-icons">home</p>
                <p class="footer-text">Home</p>
            </div>
        </a>
        <a href="../chats.html">
            <div class="category-button">
                <p class="material-icons footer-icons">messages</p>
                <p class="footer-text">Messages</p>
            </div>
        </a>
        <a href="../myaccount.html">
            <div class="category-button">
                <p class="material-icons footer-icons">my account</p>
                <p class="footer-text">My account</p>
            </div>
        </a>
    </div>